<div class="show-box">

	<% if flash[:notice] %>
	<div class="notice">
		<%= flash[:notice] %>
	</div>
	<% end %>

<p class="show-text"><span>Title: </span><%= @book.title %></p>

<p class="show-text"><span>Body: </span><%= @book.body %></p>

<p class="show-action"><%= link_to 'Edit', edit_book_path(@book.id) %> | <%= link_to 'Back', books_path %></p>
</div>